[{boss, [
    {path, "/home/zotonic/github/ChicagoBoss-0.8.9"},
    {vm_cookie, "abc123"},
    {applications, [colosimo]},
    {db_host, "localhost"},
    {db_port, 1978},
    {db_adapter, mock},
    {log_dir, "log"},
    {server, cowboy},
    {port, 8001},

    {controller_filter_modules, [
      boss_csrf_filter
    ]},

%%    {cache_adapter, ets},
%%    {cache_enable, true},

    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600},
    {db_shards, [
        [{db_host, "localhost"},
         {db_adapter, pgsql},
         {db_port, 5432},
         {db_username, "cuongth"},
         {db_password, "cuongth"},
         {db_database, "colosimo"},
         {db_shard_id, shard_pg},
         {db_shard_models, [colosimo_user]}]
    ]}
]},
{colosimo, [
    {path, "../colosimo"},
    {base_url, "/"}
]}
].
